<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_IDSRouter">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
            </customBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IDSRouter">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://asu-smirnov.mtra.local/DSRouter.DSRouterService/DSRouterService.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_IDSRouter"
                contract="DSRouterService.IDSRouter" name="CustomBinding_IDSRouter" />
            <endpoint address="net.tcp://asu-smirnov.mtra.local:3331/DSRouter.DSRouterService/DSRouterService.svc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDSRouter"
                contract="DSRouterService.IDSRouter" name="NetTcpBinding_IDSRouter" />
        </client>
    </system.serviceModel>
</configuration>